
@{
    ViewData["Title"] = "About Page";
}

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(~/images/about.jpg);">
                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="heading-section pl-md-4 pt-md-5">
                    <h4>About Us</h4>
                    <span class="subheading">Welcome to Career Search, Inc. </span>
                    <h2 class="mb-4">We Are the Best Career Agency</h2>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wealth"></span></div>
                    <div class="text pl-4">
                        <h4>Market Analysis</h4>
                        <p>We give market analysis base on the kind of job serched for</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
                    <div class="text pl-4">
                        <h4>Accounting Advisor</h4>
                        <p>We offer job opportunity in in Accounting, Auditing, etc. e also give financial advice</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
                    <div class="text pl-4">
                        <h4>Sales</h4>
                        <p>We offer job opportunity in sales related fields</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                    <div class="text pl-4">
                        <h4>Marketing</h4>
                        <p>We offer job opportunity in marketing </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="icon d-flex mr-2">
                        <!-- <span class="flaticon-accounting-1"></span> -->
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Information Technology</h3>
                        <p>Our services also contain information Tecnology.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="icon d-flex mr-2">
                        <!-- <span class="flaticon-engineering"></span> -->
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Engineering</h3>
                        <p>Our  employment opportunity cut accross all sections of Egineering divisions</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="icon d-flex mr-2">
                        <!-- <span class="flaticon-loan"></span> -->
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Career Coaching</h3>
                        <p>We coach young individuals towards choosing a better career and assist in bringing such to reality .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="icon d-flex mr-2">
                        <!-- <span class="flaticon-tax"></span> -->
                    </div>
                    <div class="media-body">  
                        <h3 class="heading">Job Search</h3>
                        <p>We also provide the best job matches in relation to client qualification and area of specialisation.</p>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</section>



<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Get in touch</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    Your message was sent, thank you!
                                </div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Full Name</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Email Address</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Subject</label>
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Message</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Send Message" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                <h3>Let's get in touch</h3>
                                <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@CareerSearch.com</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Website</span> <a href="#">CareerSearch.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
