@model AccountLoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout2";
}

<div class="col-md-6">
    <h1>Admin Login</h1>
    <form asp-action="login" method="post">


        <div class="signin-image">
            <figure><img src="~/Log/images/signup-image.jpg" alt="sing up image"></figure>
            <div class="nav-item"><a asp-area="Admin" asp-controller="Account" class="nav-link" asp-action="Register">Create An Account</a></div>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>


        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>

        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="login" />
        </div>

        <div asp-validation-summary="ModelOnly"></div>


    </form>

</div>
